# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
.venv/
env/
.env
*.egg-info/
.eggs/

# Django
backend_django/db.sqlite3
backend_django/staticfiles/
backend_django/media/

# Node / React
node_modules/
frontend/build/
frontend/.env
frontend/.env.local
npm-debug.log*
yarn-error.log*

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
